.nav {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2em;
  @include breakpoint($md) {
    // margin-top: -5em;
    
  }
}

  .nav__prev,
  .nav__next {
    display: block;
    width: span(1 of 2);
    background-color: $blue;
    color: $white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em;
    position: relative;
    transition: background-color, 0.25s;
    &:hover {
      background-color: $green;
    }

    @include breakpoint($md) {
      width: auto;
    }
  }
  .nav__prev {
    float: left;
    padding-left: 1.5em;
    &:before {
      content: "";
      display: block;
      border-width: 0.5em;
      border-style: solid;
      border-color: transparent;
      border-right-color: $white;
      position: absolute;
      top:50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .nav__next {
    float: right;
    text-align: right;
    padding-right: 1.5em;
    &:after {
      content: "";
      display: block;
      border-width: 0.5em;
      border-style: solid;
      border-color: transparent;
      border-left-color: $white;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }